.card
{
    max-width: 35%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
    margin-top:20px;
    
}
.card-header
{
    color: rgb(37, 37, 37);
    font-weight: bold;
    
}