.footer
{
    
    max-width: 100%;
    background-color: #20283d;
    bottom: 0;
   // position:absolute;
    color: white;
}

.point
{
    text-decoration: none;
    color: white;
}
.col a:hover
{
    text-decoration: underline;
}
.foot-left
{
    margin-left: auto;
    margin-right: auto;
    
}

