<div class="footer">
    <div class="row">
        <div class="col">
            <h4>About Us</h4>
            <p>Wikipedia has been criticized for its uneven accuracy and for exhibiting systemic bias, including gender bias, with the majority of editors being male.Edit-a-thons have been held to encourage female editors and increase the coverage of women's topics.</p>
        </div>
        <div class="col">
            <h4>Usefull links</h4>
            <ul>
                <li><a href="#" class="point">Home</a></li>
                <li><a href="#" class="point">About</a></li>
                <li><a href="#" class="point">Careers</a></li>
                <li><a href="#" class="point">Contact</a></li>
            </ul>
        </div>
        <div class="col">
            <h4>Contact Us</h4>
            <p>Address : K32 Secotr 21,New Delhi,110056<br>Phone : +91-9876543210</p>
        </div>
    </div>
    <div class="row bg-dark">
            <div class="foot-left">
                &copy;
                copyright by Mindfire Solutions 
            </div>        
    </div>
 </div>