.logo
{
        float: left;
        width: 120px;
        height: 50px;  
        
}
.header a:hover
{
    background-color: #ddd;
    color: black;
}
.header-left a.act
{
    background-color: dodgerblue;
    color: ghostwhite;
}
.header-left
{
 
    float: left;
    margin-left: 10px;
}
.header
{
    overflow: hidden;
    background-color: #20283d;
    padding-bottom: 10px;
    padding-top: 20px;
}
.header a
{
    float: left;
    color: white;
    
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header-right a.sign
{
    background-color: dodgerblue;
    color: ghostwhite;
}
.header-right
{
 
    float: right;
    margin-right: 10px;
}
.txt
{
    font-weight: bold;
    color: blanchedalmond;
    
}