    <div class="header">
       <img src="assets/logo.png" class="logo rounded">
       <div *ngFor="let x of head" class="header-left">
            <a href="/homepage" class="act"> {{x.item1}}</a> 
            <a href="/categories">{{x.item2}}</a>
            <a href="/more">{{x.item3}}</a>

       </div>
           <div *ngFor="let y of head_rit" class="header-right">
                <!--<a href="#" class="sign">SignUp</a>
                <a href="#" >Login</a>-->
                <div *ngIf="!isDisplay">
                    <a href="/register"  class="sign" > {{y.title1}}</a>
                </div>
                <div *ngIf="isDisplay">
                    <!--<a href="#"  (click)="toggleDisplay()">{{y.title2}}</a>-->
                    <h4 class="txt">Welcome Divyanshu!!</h4>
                </div>                 
                   
           </div>
    </div>
  