<div class="container form">
    <form *ngFor="let f of form_ele">
        <div class="row">
            <div class="col" >
                <div class="form-group"><!--form group is used for proper grouping -->
                    <label for="firstname">First Name</label>
                    <input [(ngModel)]="f.ele1" [disabled]="isDisabled" name="f1" type="text"  class="form-control" placeholder="Enter your first name here....">
                    your firstname:{{f.ele1}}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input [(ngModel)]="f.ele2" [disabled]="isDisabled" name="l1" type="text" class="form-control" placeholder="Enter your last name here....">
                    your last name:{{f.ele2}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input [(ngModel)]="f.ele3" [disabled]="isDisabled" type="email" name="e1" class="form-control" placeholder="Enter your E-mail ID here....">
            your email:{{f.ele3}}
        </div>
        <div class="form-group">
            <label for="contact">Contact No.</label>
        <input [(ngModel)]="f.ele4"  [disabled]="isDisabled" type="tel" class="form-control" name="f2" placeholder="Enter your contact no. here....">    
        your contact no:{{f.ele4}}
        </div>
        
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="state">State</label>
                    <select name="state" *ngFor = "let sta of state"  name="s1" class="form-control" [(ngModel)]="f.ele5">
                        <option value="Select the State"  disabled  selected>Select the State...</option>
                        <option value="Himachal Pradesh">{{sta.st1}}</option>
                        <option value="Haryana">{{sta.st2}}</option>
                        <option value="Uttarakhand">{{sta.st3}}</option>
                        <option value="Uttar Pradesh">{{sta.st4}}</option>
                        <option value="Rajasthan">{{sta.st5}}</option>-->
                        <!--<option *ngFor = "let sta of state">{{sta.st}}</option>-->
                    </select>
                    state seleced: {{f.ele5}}
                   </div>         
            </div>
            <div class="col" *ngFor = "let g of gender">
                <label for="gender" >Gender</label><br>
                <label class="radio-inline" id="rd1">
                    <input class="form-check-input" type="radio" name="optgen" checked value="Male" [(ngModel)]="f.ele6">{{g.gen1}}
                </label>     
                <label class="radio-inline" id="rd2"><input class="form-check-input" type="radio" value="Female" name="optgen" [(ngModel)]="f.ele6"> {{g.gen2}}
                </label><br>
                gender selected:{{f.ele6}}
            </div>
        </div>
       
            
            <div class="row2">
                <button [disabled]="isDisabled" type="button" class="btn btn-primary"  >Submit</button>
                <button  type="button" class="btn btn-danger" (click)="onClick()">Clear</button>
            </div>
               
    </form>
</div>
