.form
{
    padding: 10px 10px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom:90px;
   
}
.btn 
{
    
    margin-left: 10px;
    margin-right: 20px;
}
.row2
{
    padding-top: 30px;
    float: right;
}

#rd1
{
   margin-right:30px;
}
