.page
{
    background-image: linear-gradient(rgb(255, 253, 253),rgb(216, 216, 216));
}
.marq
{
    background: chocolate;
     color: white;
}
h1
{
    text-align: center;
    text-decoration: underline;
    text-shadow:  2px 2px 8px rgb(146, 67, 67);
}