    <div class="header">
       <img src="assets/logo.png" class="logo rounded">
       <div *ngFor="let x of head" class="header-left">
           <!--<a href="#" class="act">Home</a>
           <a href="#" >Categories</a>
           <a href="#" >More</a>-->
            <a href="#" class="act"> {{x.item1}}</a> 
            <a href="#">{{x.item2}}</a>
            <a href="#">{{x.item3}}</a>

       </div>
           <div *ngFor="let y of head_rit" class="header-right">
                <!--<a href="#" class="sign">SignUp</a>
                <a href="#" >Login</a>-->
                <div [hidden]="!isDisplay">
                    <a href="#"  class="sign" (click)="toggleDisplay()"> {{y.title1}}</a>
                </div>
                <div [hidden]="isDisplay">
                    <a href="#"  (click)="toggleDisplay()">{{y.title2}}</a>
                </div>                 
                
                
                
           </div>
    </div>
  