/*.class-header
{
    margin-left: auto;
    margin-right: auto;
}*/
input.ng-touched.ng-invalid
{
    border:1px solid red;
    color: red;
}
h4
{
    text-align: center;
}
.card
{
    margin-left: 15%;
    width:70%
}
.card
{
    margin-bottom: 15px;
    margin-top: 10px;
}
