<div class="card">
    <div class="card-header">
      <h4>Sign-Up</h4>
    </div>
    <div class="card-body">
        <div class="container">
            <form #signupForm="ngForm" *ngFor="let fo of form_el" (ngSubmit)="signupUser(signupForm);">
                <div class="row">
                    <div class="col" >
                        <div class="form-group"><!--form group is used for proper grouping -->
                            <label for="firstname">First Name</label>
                            <input [(ngModel)]="fo.item1"  name="f1" type="text"  class="form-control" placeholder="Enter your first name here...." ngModel required #f1="ngModel" minlength="4">
                            <small class="form-text text-muted" *ngIf="f1.touched && !f1.valid">Please Enter a Valid First Name!!</small>
                            <div *ngIf="f1.errors.minlength">First name needs minimum 4 characters!!</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input [(ngModel)]="fo.item2" name="l1" type="text" class="form-control" placeholder="Enter your last name here...." ngModel required #l1="ngModel">
                            <small class="form-text text-muted" *ngIf="l1.touched && !l1.valid">Please Enter a Valid Last Name!!</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input  [(ngModel)]="fo.item3" type="email" name="e1" class="form-control" placeholder="Enter your E-mail ID here...." ngModel required #e1="ngModel"> 
                    <small class="form-text text-muted" *ngIf="e1.touched && !e1.valid">Please Enter a Valid E-Mail!!</small>
                </div>
                <div class="form-group">
                    <label for="contact">Contact No.</label>
                    <input [(ngModel)]="fo.item4" type="tel" class="form-control" name="f2" placeholder="Enter your contact no. here...." ngModel required #f2="ngModel">    
                    <small class="form-text text-muted" *ngIf="f2.touched && !f2.valid">Please Enter a Contact No.!!</small>
                </div>
                <div class="row">
                    <div class="col" >
                        <div class="form-group"><!--form group is used for proper grouping -->
                            <label for="address">Address 1(Street/Flat No.)</label>
                            <input  [(ngModel)]="fo.item5" name="a1" type="text"  class="form-control" placeholder="Enter your address here...." ngModel required #a1="ngModel">
                            <small class="form-text text-muted" *ngIf="a1.touched && !a1.valid">Please Enter a Valid Address!!</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="address2">Address 2(Area/Region)</label>
                            <input [(ngModel)]="fo.item6" name="a2" type="text" class="form-control" placeholder="Enter your last address here...." ngModel required #a2="ngModel">
                            <small class="form-text text-muted" *ngIf="a2.touched && !a2.valid">Please Enter a Valid Address!!</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input [(ngModel)]="fo.item7" name="c1" type="text" class="form-control" placeholder="Enter your country name here...." ngModel required #c1="ngModel">
                            <small class="form-text text-muted" *ngIf="c1.touched && !c1.valid">Please Enter a Valid Country!!</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="state">State</label>
                            <select [(ngModel)]="fo.item8" name="state"  name="s1" class="form-control" ngModel required #s1="ngModel">
                                <option value="Select the State" selected>Select the State...</option>
                                <option value="Himachal Pradesh"></option>
                                <option value="Haryana"></option>
                                <option value="Uttarakhand"></option>
                                <option value="Uttar Pradesh"></option>
                                <option value="Rajasthan"></option>-->
                                <!--<option *ngFor = "let sta of state">{{sta.st}}</option>-->
                            </select>
                            <small class="form-text text-muted" *ngIf="s1.touched && !s1.valid">Please Select an Item!!</small>
                           </div>         
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input [(ngModel)]="fo.item9" name="c2" type="text" class="form-control" placeholder="Enter your city name here...." ngModel required #c2="ngModel">
                            <small class="form-text text-muted" *ngIf="c2.touched && !c2.valid">Please Enter a Valid City!!</small>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input [(ngModel)]="fo.item10" name="p1" type="password" class="form-control" placeholder="Enter your password here...." ngModel required #p1="ngModel">
                            <small class="form-text text-muted" *ngIf="p1.touched && !p1.valid">Please Enter a Valid Password!!</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="confirmpassword">Password</label>
                            <input [(ngModel)]="fo.item11" name="p2" type="password" class="form-control" placeholder="Re-Enter your password here...." ngModel required #p2="ngModel">
                            <small class="form-text text-muted" *ngIf="p2.touched && !p2.valid">Please Check the Field!!</small>
                        </div>
                    </div>                    
                </div>
             <div class="row2">
                   <button  type="submit" class="btn btn-primary" >Submit</button>
                  <button  type="button" class="btn btn-danger" >Clear</button>
             </div>
                     
            </form>
        </div>
    </div>
  </div>